___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

![Image_Assignment](https://i.ibb.co/cY9HhF7/bnote-assignment.gif)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Assignment 02 (Pandas)</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTENT</p>


* [CONTEXT](#0)
* [ABOUT THE DATASET & ATRIBUTES](#00)
* [INSTRUCTIONS (Tasks in the Assignment)](#000)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#1)
* [Task 01. Checking the head of the DataFrame](#2)
* [Task 02. How many rows and columns are there?](#3)
* [Task 03. What is the average Purchase Price?](#4)
* [Task 04. What were the highest and lowest purchase prices?](#5) 
* [Task 05. Listing the country names and number of records belongs to each country](#6)
* [Task 06. How many records are as Country United Kingdom?](#7)
* [Task 07. Creating a column named Total which shows the total amount of spend using UnitPrice and Quantity](#8)
* [Task 08. Showing total spending amount according to the Countries](#9)
* [Task 09. Which Country spend least?](#10)
* [Task 10. Calculating average of spending according to country with apply function](#11) 
* [Task 11. Calculating average, mean, max of spending according to country with agg function](#12)
* [Task 12. What is the max Total spending in whole dataset and show the records of that spending?](#13)
* [Task 13. How many people who live in Spain spend more than average Total?](#14)
* [Task 14. Converting datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2](#15)
* [Task 15. Taking only date values (year-month-day) from InvoiceDate2 and assign it to a new column named "date"](#16)
* [Task 16. Dropping InvoiceDate2 and InvoiceDate columns permanently](#17)
* [Task 17. Removing A, B, G and E characters at the first 5 rows of "StockCode" in ecom dataframe with a string method](#18) 
* [Task 18. Taking only Total and date columns with loc and craete a new df named ecom2](#19)
* [Task 19. Taking only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3](#20)
* [Task 20. Combining ecom2 and ecom3 with concat() method](#21)
* [Task 21. Combining the common (intersected) values of ecom2 and ecom3 with merge() method](#22)
* [Task 22. Combining ecom2 and ecom3 with join() method](#23)
* [THE END OF THE ASSIGNMENT 02](#24)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTEXT</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

E-Commerce is currently one of the fastest and dynamically evolving industries in the world. Its popularity has been growing rapidly with the ease of digital transactions and quick door-to-door deliveries. A major source of big tech companies revenues comes from the interaction of their underlying proprietary algorithms that are heavily powered by data science, so itâ€™s fundamental to understand the methods applied to maintain and grow the number of clients.

"This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers."

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">ABOUT THE DATASET & ATRIBUTES</p>

<a id="00"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Typically e-commerce datasets are proprietary and consequently hard to find among publicly available data. However, The [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php) has made this dataset containing actual transactions from 2010 and 2011. The dataset is maintained on their site, where it can be found by the title "Online Retail".

**Attribute Information:**

**``InvoiceNo:``** Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.<br>
**``StockCode:``** Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.<br>
**``Description:``** Product (item) name. Nominal.<br>
**``Quantity:``** The quantities of each product (item) per transaction. Numeric.<br>
**``InvoiceDate:``** Invice Date and time. Numeric, the day and time when each transaction was generated.<br>
**``UnitPrice:``** Unit price. Numeric, Product price per unit in sterling.<br>
**``CustomerID:``** Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.<br>
**``Country:``** Country name. Nominal, the name of the country where each customer resides.<br>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">INSTRUCTIONS (Tasks in the Assignment)</p>

<a id="000"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**In this assignment you're required to handle with the following tasks:** 

- **Task 01.** Checking the head of the DataFrame.<br>
- **Task 02.** How many rows and columns are there?<br>
- **Task 03.** What is the average of Product sold and the average price of Product per unit?<br>
- **Task 04.** What were the highest and lowest purchase prices?<br>
- **Task 05.** Listing the country names and number of their records belongs to each country.<br>
- **Task 06.** How many records are as Country United Kingdom?<br>
- **Task 07.** Creating a column named "Total" which shows the total amount of spend using UnitPrice and Quantity.<br>
- **Task 08.** Showing total spending amount according to the Countries and their percentages.<br>
- **Task 09.** Which Country spend least?<br>
- **Task 10.** Calculating average of spending according to country with apply function  and create a new feature named "Average_Spend".<br>
- **Task 11.** Calculating average, min, max of spending according to country with agg function and create new features named "Max_Spend" and "Min_Spend".<br>
- **Task 12.** What is the max Total spending in whole dataset and show all records of that spending?<br>
- **Task 13.** How many people who live in Spain spend more than average Total?<br>
- **Task 14.** Converting datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2.<br>
- **Task 15.** Taking only date values (year-month-day) from InvoiceDate2 and assign it to a new column named "date".<br>
- **Task 16.** Dropping InvoiceDate2 and InvoiceDate columns permanently.<br>
- **Task 17.** Removing A, B, G and E characters at the first 5 rows of "StockCode" in ecom dataframe with a string method.<br>
- **Task 18.** Taking only Total and date columns with loc and craete a new df named ecom2.<br>
- **Task 19.** Taking only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3.<br>
- **Task 20.** Combining ecom2 and ecom3 with concat() method.<br>
- **Task 21.** Combining the common (intersected) values of ecom2 and ecom3 with merge() method.<br>
- **Task 22.** Combining ecom2 and ecom3 with join() method.<br>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">IMPORTING LIBRARIES NEEDED IN THIS STUDY</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy and Pandas you can import them as a library. Then read the dataset and assig it as **``"ecom"``**:

In [44]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [58]:
# Import the related library to this task

# YOUR CODE IS HERE 
ecom = pd.read_csv ('data.csv',encoding= "latin1")

In [59]:
# After reading the dataset, assign it named "ecom"

# YOUR CODE IS HERE 
print(ecom.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 01: Check the Head of the DataFrame</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [63]:
# YOUR CODE IS HERE 

# Display the first few rows of the DataFrame
ecom.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Desired Output:

![image.png](https://i.ibb.co/LdKJHb6/assignment1a.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 02: How many rows and columns are there?</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [64]:
# YOUR CODE IS HERE 
# Get the number of rows and columns
rows, columns = ecom.shape

# Display the result
print(f"There are {rows} rows and {columns} columns in the DataFrame.")

There are 541909 rows and 8 columns in the DataFrame.

In [65]:
# Display an overview of the DataFrame structure
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Desired Output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype  
---  ------       --------------   -----  
 0   InvoiceNo    541909 non-null  object 
 1   StockCode    541909 non-null  object 
 2   Description  540455 non-null  object 
 3   Quantity     541909 non-null  int64  
 4   InvoiceDate  541909 non-null  object 
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object 
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [66]:
# YOUR CODE IS HERE 
# Display the shape of the DataFrame
ecom.shape

(541909, 8)

Desired Output:

(541909, 8)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 03: What is the average of Product sold and the average price of Product per unit?</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [67]:
# YOUR CODE IS HERE 
# Calculate the average quantity of products sold
average_quantity_sold = ecom['Quantity'].mean()

# Calculate the average price per unit
average_price_per_unit = ecom['UnitPrice'].mean()

# Display the results
print(f"Average Quantity of Product Sold: {average_quantity_sold}")
print(f"Average Price of Product per Unit: {average_price_per_unit}")

Average Quantity of Product Sold: 9.55224954743324
Average Price of Product per Unit: 4.611113626088513

Desired Output:

4.611113626083471

In [7]:
# YOUR CODE IS HERE

Desired Output:

9.55224954743324

In [8]:
# YOUR CODE IS HERE

Desired Output:

UnitPrice    4.611114
Quantity     9.552250
dtype: float64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 04: What are the highest and lowest purchase prices?</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [68]:
# YOUR CODE IS HERE 

# Calculate the highest purchase price
highest_price = ecom['UnitPrice'].max()

# Calculate the lowest purchase price
lowest_price = ecom['UnitPrice'].min()

# Display the results
print(f"Highest Purchase Price: {highest_price}")
print(f"Lowest Purchase Price: {lowest_price}")

Highest Purchase Price: 38970.0
Lowest Purchase Price: -11062.06

Desired Output:

38970.0

Desired Output:

-11062.06

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 05: List the country names and number of their records belongs to each country</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [69]:
# YOUR CODE IS HERE 
# Count the number of records for each country
country_counts = ecom['Country'].value_counts()

# Display the result
print(country_counts)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

Desired Output:

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 06: How many records are there in the United Kingdom?</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [70]:
# YOUR CODE IS HERE 

# Count the records for the United Kingdom
uk_records = ecom[ecom['Country'] == 'United Kingdom'].shape[0]

# Display the result
print(f"Number of records in the United Kingdom: {uk_records}")

Number of records in the United Kingdom: 495478

In [72]:
# Count non-null entries for each column in the DataFrame
non_null_counts = ecom.count()

# Display the result
print(non_null_counts)

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

Desired Output:

InvoiceNo      495478
StockCode      495478
Description    494024
Quantity       495478
InvoiceDate    495478
UnitPrice      495478
CustomerID     361878
Country        495478
dtype: int64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 07: Create a column named "Total" which shows the total amount of spend using UnitPrice and Quantity</p>

<a id="8"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [73]:
# YOUR CODE IS HERE 
# Create a new column "Total" that calculates the total spend
ecom['Total'] = ecom['UnitPrice'] * ecom['Quantity']

# Display the first few rows of the DataFrame to verify the new column
print(ecom[['UnitPrice', 'Quantity', 'Total']].head())

   UnitPrice  Quantity  Total
0       2.55         6  15.30
1       3.39         6  20.34
2       2.75         8  22.00
3       3.39         6  20.34
4       3.39         6  20.34

Desired Output:

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...  
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total, Length: 541909, dtype: float64

In [74]:
# YOUR CODE IS HERE 
# Create a new column "Total" that calculates the total spend
ecom['Total'] = ecom['UnitPrice'] * ecom['Quantity']

# Select the desired columns to display
desired_output = ecom[['InvoiceNo', 'UnitPrice', 'Quantity', 'Total']]

# Display the first few rows of the selected columns
print(desired_output.head())

  InvoiceNo  UnitPrice  Quantity  Total
0    536365       2.55         6  15.30
1    536365       3.39         6  20.34
2    536365       2.75         8  22.00
3    536365       3.39         6  20.34
4    536365       3.39         6  20.34

Desired Output:

![image.png](https://i.ibb.co/7y5d0sp/assignment2b.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 08: Show total spending amount according to the Countries and their percentages.</p>

<a id="9"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [75]:
# YOUR CODE IS HERE 
# Group by country and calculate total spending
country_spending = ecom.groupby('Country')['Total'].sum()

# Calculate the overall total spending
total_spending = country_spending.sum()

# Calculate the percentage spending for each country
country_percentage = (country_spending / total_spending) * 100

# Create a new DataFrame to hold the results
spending_summary = pd.DataFrame({
    'Total Spending': country_spending,
    'Percentage': country_percentage
})

# Display the results
print(spending_summary)

                      Total Spending  Percentage
Country
Australia                 137077.270    1.406246
Austria                    10154.320    0.104171
Bahrain                      548.400    0.005626
Belgium                    40910.960    0.419697
Brazil                      1143.600    0.011732
Canada                      3666.380    0.037613
Channel Islands            20086.290    0.206061
Cyprus                     12946.290    0.132813
Czech Republic               707.720    0.007260
Denmark                    18768.140    0.192538
EIRE                      263276.820    2.700899
European Community          1291.750    0.013252
Finland                    22326.740    0.229045
France                    197403.900    2.025123
Germany                   221698.210    2.274353
Greece                      4710.520    0.048324
Hong Kong                  10117.040    0.103788
Iceland                     4310.000    0.044215
Israel                      7907.820    0.081125
Italy                      16890.510    0.173276
Japan                      35340.620    0.362552
Lebanon                     1693.880    0.017377
Lithuania                   1661.060    0.017040
Malta                       2505.470    0.025703
Netherlands               284661.540    2.920280
Norway                     35163.460    0.360734
Poland                      7213.140    0.073998
Portugal                   29367.020    0.301270
RSA                         1002.310    0.010282
Saudi Arabia                 131.170    0.001346
Singapore                   9120.390    0.093564
Spain                      54774.580    0.561920
Sweden                     36595.910    0.375429
Switzerland                56385.350    0.578445
USA                         1730.920    0.017757
United Arab Emirates        1902.280    0.019515
United Kingdom           8187806.364   83.996903
Unspecified                 4749.790    0.048727

Desired Output:

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Total, dtype: float64

Desired Output:

Country
United Kingdom          83.996903
Netherlands              2.920280
EIRE                     2.700899
Germany                  2.274353
France                   2.025123
Australia                1.406246
Switzerland              0.578445
Spain                    0.561920
Belgium                  0.419697
Sweden                   0.375429
Japan                    0.362552
Norway                   0.360734
Portugal                 0.301270
Finland                  0.229045
Channel Islands          0.206061
Denmark                  0.192538
Italy                    0.173276
Cyprus                   0.132813
Austria                  0.104171
Hong Kong                0.103788
Singapore                0.093564
Israel                   0.081125
Poland                   0.073998
Unspecified              0.048727
Greece                   0.048324
Iceland                  0.044215
Canada                   0.037613
Malta                    0.025703
United Arab Emirates     0.019515
USA                      0.017757
Lebanon                  0.017377
Lithuania                0.017040
European Community       0.013252
Brazil                   0.011732
RSA                      0.010282
Czech Republic           0.007260
Bahrain                  0.005626
Saudi Arabia             0.001346
Name: Total, dtype: float64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 09: Which Country spend least?</p>

<a id="10"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [76]:
# YOUR CODE IS HERE 
# Group by country and calculate total spending
country_spending = ecom.groupby('Country')['Total'].sum()

# Find the country that spent the least
least_spending_country = country_spending.idxmin()
least_spending_amount = country_spending.min()

# Display the result
print(f"The country that spent the least is: {least_spending_country} with a total spending of: {least_spending_amount}")

The country that spent the least is: Saudi Arabia with a total spending of: 131.17

Desired Output:

Country
Saudi Arabia    131.17
Name: Total, dtype: float64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 10: Calculate the average of spending according to country with apply function and create a new feature named "Average_Spend"</p>

<a id="11"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [82]:
# Group by country and calculate total spending
country_total_spending = ecom.groupby('Country')['Total'].sum()

# Count the number of records for each country
country_counts = ecom['Country'].value_counts()

# Calculate average spending per country
average_spending = country_total_spending / country_counts

# Create a new DataFrame to hold average spending
average_spending_df = average_spending.reset_index()
average_spending_df.columns = ['Country', 'Average_Spend']

# Merge the average spending back into the original ecom DataFrame if needed
ecom = ecom.merge(average_spending_df, on='Country', how='left')

# Display the first few rows of the DataFrame to verify the new feature
print(ecom[['Country', 'Average_Spend']].head())

          Country  Average_Spend
0  United Kingdom      16.525065
1  United Kingdom      16.525065
2  United Kingdom      16.525065
3  United Kingdom      16.525065
4  United Kingdom      16.525065

Desired Output:

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  28.863158
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     32.122599
European Community       21.176230
Finland                  32.124806
France                   23.069288
Germany                  23.348943
Greece                   32.263836
Hong Kong                35.128611
Iceland                  23.681319
Israel                   26.625657
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.333127
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              28.164510
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           16.525065
Unspecified              10.649753
Name: Total, dtype: float64

# Formatting Average_Spend to 2 decimal places
average_spending_df['Average_Spend'] = average_spending_df['Average_Spend'].map("{:.6f}".format)

# Display the formatted DataFrame
print(average_spending_df)

Desired Output:

![image.png](https://i.ibb.co/b3m1jhs/assignment2c.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 11: Calculate average, min, max of spending according to country with agg() function and create new features named "Max_Spend" and "Min_Spend"</p>

<a id="12"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [84]:
# YOUR CODE IS HERE 
import pandas as pd

# Assuming ecom DataFrame is already loaded

# Step 1: Group by country and calculate average, min, and max spending
country_spending_stats = ecom.groupby('Country')['Total'].agg(['mean', 'min', 'max'])

# Step 2: Rename the columns to match the desired feature names
country_spending_stats.rename(columns={'mean': 'Average_Spend', 'min': 'Min_Spend', 'max': 'Max_Spend'}, inplace=True)

# Step 3: Reset the index to make 'Country' a column again
country_spending_stats.reset_index(inplace=True)

# Display the resulting DataFrame
print(country_spending_stats)

                 Country  Average_Spend  Min_Spend  Max_Spend
0              Australia     108.877895    -425.00    1718.40
1                Austria      25.322494     -21.25     360.00
2                Bahrain      28.863158    -205.74     205.74
3                Belgium      19.773301     -19.95     165.00
4                 Brazil      35.737500      15.00     175.20
5                 Canada      24.280662       2.50     550.94
6        Channel Islands      26.499063    -293.00     408.00
7                 Cyprus      20.813971    -320.69     320.69
8         Czech Republic      23.590667     -35.76      70.80
9                Denmark      48.247147     -59.80     428.40
10                  EIRE      32.122599   -1917.00    2365.20
11    European Community      21.176230      -8.50      60.00
12               Finland      32.124806     -80.00     551.20
13                France      23.069288   -8322.12    4161.06
14               Germany      23.348943    -599.50     876.00
15                Greece      32.263836     -50.00     175.20
16             Hong Kong      35.128611   -2653.95    2653.95
17               Iceland      23.681319       5.04     249.60
18                Israel      26.625657    -136.00     350.40
19                 Italy      21.034259     -89.55     300.00
20                 Japan      98.716816   -1591.20    3794.40
21               Lebanon      37.641778      10.20     153.00
22             Lithuania      47.458857      13.20     122.40
23                 Malta      19.728110    -130.00     455.00
24           Netherlands     120.059696    -266.40    4992.00
25                Norway      32.378877    -376.50     700.00
26                Poland      21.152903     -39.80     120.00
27              Portugal      19.333127   -1241.98    1241.98
28                   RSA      17.281207       0.00      38.25
29          Saudi Arabia      13.117000     -14.75      19.80
30             Singapore      39.827031   -3949.32    3949.32
31                 Spain      21.624390   -1715.85    1350.00
32                Sweden      79.211926   -1188.00    1188.00
33           Switzerland      28.164510    -179.00     360.00
34                   USA       5.948179     -74.88      81.36
35  United Arab Emirates      27.974706       3.48     153.00
36        United Kingdom      16.525065 -168469.60  168469.60
37           Unspecified      10.649753       0.19      69.36

Desired Output:

![image.png](https://i.ibb.co/0qRCRjH/assignment2d.png)

Desired Output:

![image.png](https://i.ibb.co/Smd3Tkt/assignment2e.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 12: What is the max Total spending in whole dataset and show all records of that spending?</p>

<a id="13"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [89]:
# YOUR CODE IS HERE 

max_total_spending = ecom['Total'].max()

Desired Output:

![image.png](https://i.ibb.co/2W9t4nh/assignment2f.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 13: How many people who live in Spain spend more than average Total?</p>

<a id="14"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [119]:
# YOUR CODE IS HERE 
import pandas as pd

average_total = ecom['Total'].mean()
spain_high_spenders = ecom[(ecom['Country'] == 'Spain') & (ecom['Total'] > average_total)]
num_spain_high_spenders = spain_high_spenders['CustomerID'].nunique()  # Use nunique() for unique customers
print(f'Number of people in Spain who spend more than the average Total: {num_spain_high_spenders}')

Number of people in Spain who spend more than the average Total: 30

Desired Output:

InvoiceNo        728
StockCode        728
Description      728
Quantity         728
InvoiceDate      728
UnitPrice        728
CustomerID       728
Country          728
Total            728
Average_Spend    728
dtype: int64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 14: Convert datatype of "InvoiceDate" to datetime and assign it to new column name "InvoiceDate2"</p>

<a id="15"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [121]:
# YOUR CODE IS HERE 
import pandas as pd
ecom['InvoiceDate2'] = pd.to_datetime(ecom['InvoiceDate'])
print(ecom[['InvoiceDate', 'InvoiceDate2']].head())

      InvoiceDate        InvoiceDate2
0  12/1/2010 8:26 2010-12-01 08:26:00
1  12/1/2010 8:26 2010-12-01 08:26:00
2  12/1/2010 8:26 2010-12-01 08:26:00
3  12/1/2010 8:26 2010-12-01 08:26:00
4  12/1/2010 8:26 2010-12-01 08:26:00

Desired Output:

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...        
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate2, Length: 541909, dtype: datetime64[ns]

Desired Output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype         
---  ------         --------------   -----         
 0   InvoiceNo      541909 non-null  object        
 1   StockCode      541909 non-null  object        
 2   Description    540455 non-null  object        
 3   Quantity       541909 non-null  int64         
 4   InvoiceDate    541909 non-null  object        
 5   UnitPrice      541909 non-null  float64       
 6   CustomerID     406829 non-null  float64       
 7   Country        541909 non-null  object        
 8   Total          541909 non-null  float64       
 9   Average_Spend  541909 non-null  float64       
 10  InvoiceDate2   541909 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 45.5+ MB

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 15: Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named **``date``**</p>

<a id="16"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [122]:
# YOUR CODE IS HERE 
import pandas as pd
ecom['date'] = ecom['InvoiceDate2'].dt.date
print(ecom[['InvoiceDate2', 'date']].head())

         InvoiceDate2        date
0 2010-12-01 08:26:00  2010-12-01
1 2010-12-01 08:26:00  2010-12-01
2 2010-12-01 08:26:00  2010-12-01
3 2010-12-01 08:26:00  2010-12-01
4 2010-12-01 08:26:00  2010-12-01

Desired Output:

0         2010-12-01
1         2010-12-01
2         2010-12-01
3         2010-12-01
4         2010-12-01
             ...    
541904    2011-12-09
541905    2011-12-09
541906    2011-12-09
541907    2011-12-09
541908    2011-12-09
Name: date, Length: 541909, dtype: object

In [124]:
# YOUR CODE IS HERE 
import pandas as pd

ecom['InvoiceDate2'] = pd.to_datetime(ecom['InvoiceDate'])
ecom['date'] = ecom['InvoiceDate2'].dt.date
print(ecom[['InvoiceDate2', 'date']].head())

         InvoiceDate2        date
0 2010-12-01 08:26:00  2010-12-01
1 2010-12-01 08:26:00  2010-12-01
2 2010-12-01 08:26:00  2010-12-01
3 2010-12-01 08:26:00  2010-12-01
4 2010-12-01 08:26:00  2010-12-01

Desired Output:

![image.png](https://i.ibb.co/hdQm0jx/assignment2g.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 16: Drop "InvoiceDate2" and "InvoiceDate" columns permanently</p>

<a id="17"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [94]:
# YOUR CODE IS HERE 

print(ecom.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        541909 non-null  object
 1   StockCode        541909 non-null  object
 2   Description      540455 non-null  object
 3   Quantity         541909 non-null  int64
 4   InvoiceDate      541909 non-null  object
 5   UnitPrice        541909 non-null  float64
 6   CustomerID       406829 non-null  float64
 7   Country          541909 non-null  object
 8   Total            541909 non-null  float64
 9   Average_Spend_x  541909 non-null  float64
 10  Average_Spend_y  541909 non-null  float64
 11  Average_Spend    541909 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 49.6+ MB
None

Desired Output:

![image.png](https://i.ibb.co/2dPtL0k/assignment2h.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 17: Remove A, B, G and E characters at the first 5 rows of "StockCode" in ecom dataframe with a string method</p>

<a id="18"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [96]:


print("Original StockCode (first 5 rows):")
print(ecom['StockCode'].head())
ecom.loc[:4, 'StockCode'] = ecom.loc[:4, 'StockCode'].str.replace('[ABGE]', '', regex=True)
print("\nModified StockCode (first 5 rows):")
print(ecom['StockCode'].head())

Original StockCode (first 5 rows):
0    85123A
1     71053
2    84406B
3    84029G
4    84029E
Name: StockCode, dtype: object

Modified StockCode (first 5 rows):
0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

Desired Output:

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 18: Take only "Total" and "date" columns with loc and craete a new df named **``ecom2``**</p>

<a id="19"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [98]:
# YOUR CODE IS HERE 

ecom2 = ecom.loc[:, ['Total', 'InvoiceDate']]
print(ecom2.head())

   Total     InvoiceDate
0  15.30  12/1/2010 8:26
1  20.34  12/1/2010 8:26
2  22.00  12/1/2010 8:26
3  20.34  12/1/2010 8:26
4  20.34  12/1/2010 8:26

Desired Output:

![image.png](https://i.ibb.co/yFyxdCz/assignment2j.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 19: Take only "InvoiceNo" and "CustomerID" columns with iloc and craete a new df named **``ecom32``**</p>

<a id="20"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [101]:
# YOUR CODE IS HERE 

ecom32 = ecom.iloc[:, [0, 6]]
print(ecom32.head())

  InvoiceNo  CustomerID
0    536365     17850.0
1    536365     17850.0
2    536365     17850.0
3    536365     17850.0
4    536365     17850.0

Desired Output:

![image.png](https://i.ibb.co/9HsWScR/assignment2k.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 20: Combine "ecom2" and "ecom3" with concat() method</p>

<a id="21"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [102]:
# YOUR CODE IS HERE 

ecom2 = ecom.loc[:, ['Total', 'InvoiceDate']]
ecom3 = ecom.loc[:, ['InvoiceNo', 'CustomerID']]  
combined_ecom = pd.concat([ecom2, ecom3], axis=1)  
print(combined_ecom.head())

   Total     InvoiceDate InvoiceNo  CustomerID
0  15.30  12/1/2010 8:26    536365     17850.0
1  20.34  12/1/2010 8:26    536365     17850.0
2  22.00  12/1/2010 8:26    536365     17850.0
3  20.34  12/1/2010 8:26    536365     17850.0
4  20.34  12/1/2010 8:26    536365     17850.0

Desired Output:

![image.png](https://i.ibb.co/6NGsVMy/assignment2l.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 21: Combine the common (intersected) values of "ecom2" and "ecom3" with merge() method</p>

<a id="22"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you "MemoryError" occurs, take only the first 100 rows from bot DFs**

In [109]:
# YOUR CODE IS HERE 
import pandas as pd

ecom2 = ecom.loc[:, ['Total', 'InvoiceDate']].head(100)
ecom3 = ecom.loc[:, ['InvoiceNo', 'CustomerID']].head(100)
merged_data = pd.merge(ecom2, ecom3, how='inner', left_index=True, right_index=True)
print(merged_data.head())

   Total     InvoiceDate InvoiceNo  CustomerID
0  15.30  12/1/2010 8:26    536365     17850.0
1  20.34  12/1/2010 8:26    536365     17850.0
2  22.00  12/1/2010 8:26    536365     17850.0
3  20.34  12/1/2010 8:26    536365     17850.0
4  20.34  12/1/2010 8:26    536365     17850.0

Desired Output:

![image.png](https://i.ibb.co/3cgVkjv/assignment2m.png)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 22: Combine "ecom2" and "ecom3" with join() method</p>

<a id="23"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [110]:
# YOUR CODE IS HERE 
import pandas as pd

ecom2 = ecom.loc[:, ['Total', 'InvoiceDate']].head(100)
ecom3 = ecom.loc[:, ['InvoiceNo', 'CustomerID']].head(100)
ecom2 = ecom2.set_index(ecom2.index)  
ecom3 = ecom3.set_index(ecom3.index)  
combined_df = ecom2.join(ecom3)
print(combined_df.head())

   Total     InvoiceDate InvoiceNo  CustomerID
0  15.30  12/1/2010 8:26    536365     17850.0
1  20.34  12/1/2010 8:26    536365     17850.0
2  22.00  12/1/2010 8:26    536365     17850.0
3  20.34  12/1/2010 8:26    536365     17850.0
4  20.34  12/1/2010 8:26    536365     17850.0

Desired Output:

![image.png](https://i.ibb.co/DfS2KqQ/assignment2n.png)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">THE END OF THE ASSIGNMENT 02</p>

# Now. it's time to relax!

![Image_Assignment](https://i.ibb.co/jZD3Mqb/relaxing.jpg)

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<a id="24"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>
___